<div>
    <form method="GET" action="/news">
        <div>
            <label for="search">Key Word</label>
            <input type="text" name="q" id="search" placeholder="Search...">
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
</div>